/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #3a3a3a;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #4e4c4c;
    padding: .25rem;

}

/* Text styles */
h1 {
    font-weight: 800;
    font-size: larger;
    padding-left: 1rem;
    text-transform: uppercase;
    color: #aad2db;
}

h2 {
    font-weight: 800;
    font-size: medium;
}

h3 {
    font-weight: 800;
    font-size: smaller;
    text-transform: uppercase;
}

p,
label {
    font-weight: 500;
    font-size: small;
    font-style: italic;
}

/* Navigation Styles */

#menu {
    font-style: normal;
    font-size: small;
    list-style-type: none;
    line-height: 20px;
    margin-left: -24px;
    color: white;
}

#menu a {
    text-decoration: none;
    color: white;
}

/* Main Section Styles */

main {
    background-color: #aad2db;
    padding: .25rem;
}

.center {
    text-align: center;
    padding: 1rem .5rem;
}

#headshot img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#about-section {
    background-color: white;
}

#about-image img {
    height: 100px;
}

#about-text ul {
    text-align: left;
    margin-right: 1rem;
}

#about-text li {
    font-style: italic;
    font-weight: 500;
    padding-bottom: .25rem;
}

/* Footer Styles */

footer {
    background-color: #4e4c4c;
    padding: .25rem 0 2rem 0;
}

footer {
    color: white;
}

.fa-brands {
    color: white;
}

/* Displays social network icons horizontally */
#footer-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-container i {
    font-size: 150%;
}

/* Media query: tablets and larger (576px and up) */
@media screen and (min-width: 576px) {

    /* Displays navigation elements horizontally on larger screens */
    h {
        font-size: 150%;
    }

    nav li {
        display: inline;
        padding-right: 1rem;
        font-size: medium;
    }

    #about-text ul {
        margin-left: 10rem;
    }


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Centers navigation elements on largest screens */
    header {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1.2rem;
    }

    h1 {
        font-size: 200%;
    }

    p {
        font-size:medium;
    };

    nav li {
        padding-right: 1.25rem;
        font-size: medium;
    }

    /* Use Flexbox to move content in section side by side */
    .flex-container {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        gap: 10px 40px;
    }

    #headshot img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    #headshot {
        max-width: 400px;
    }

    #headshot-text {
        max-width: 35%;
        text-align: left;
    }

    /* Flexbox moves image to right side of the page */
    #about-image {
        order: 2;
        max-width: 300px;
    }

    #about-image img {
        height: 400px;
    }

    #about-text {
        max-width: 40%;
        text-align: left;
    }

    #about-text ul {
        margin-left: 0;
    }
}

/* Media query: tablets and larger (1280px and up) */
* Media query: tablets and larger (1280px and up) */
@media screen and (min-width: 1280px) {
    #headshot-text {
        max-width: 30%;
    }

/* Styles for thank you page */

.thank-you {
    padding-top: 5%;
    padding-bottom: 5%;
}

.thank-you h1,
h4 {
    text-align: center;
}