/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #3a3a3a;
    background-color: #aad2db;
}

h1,
h4,
p,
a {
    text-align:center
}

